@model BluegrassPetCare.Models.NoteViewModels.NoteDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="PetIndex">
    <div class="Index-Title">
        <h1>Notes</h1>
    </div>




<div class="PetCards">
    
    <div class="petCard card" style="min-width: 20rem;">
        <div class="card-header">
            <div>
                <h2>@Html.DisplayFor(model => model.Note.Title)</h2>
            </div>
        </div>


        <div class="PetInfoText">
            <dl class="row">
                <dd class="col-sm-12">

                    <div class="petInfoLines">

                        @if (@Model.Note.UploadPath == null)
                        {
                            <div>
                                <embed style="max-height: 500px; max-width: 500px" src="~/pdfs/@Model.Note.UploadPath" alt="cool image" />
                            </div>
                        }
                        else
                        {
                            <div>

                                <a href="@Url.Action("Details", "Pet",  new { Id = @Model.Note.NoteId })">
                                    <embed src="~/pdfs/@Model.Note.UploadPath" , style="width: 17em; height: auto;">
                                </a>
                            </div>
                        }
                    </div>

                    <div class="petInfoLines">
                        <p>Title:</p> @Html.DisplayFor(model => model.Note.Title)
                    </div>
                    <div class="petInfoLines">
                        <p>Description:</p> @Html.DisplayFor(model => model.Note.Description)
                    </div>
                    <div class="petInfoLines">
                        <p>Date Added:</p> @Html.DisplayFor(model => model.Note.DateAdded)
                    </div>


                </dd>
                <dd class="col-sm-12">
                    <div class="petDetailsBtn">
                        <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@Model.Note.NoteId">Edit</a>
                    </div>
                    <div class="petDetailsBtn">
                        <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@Model.Note.NoteId">Delete</a>
                    </div>
                </dd>
        </div>
    </div>

</div>
</div>


