@model IEnumerable<BluegrassPetCare.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<div class="PetIndex">
    <div class="Index-Title">
        <h1>Notes</h1>
    </div>
    <div class="createPetBtn">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-action="Create">Add Note</a>
        </p>
    </div>




    <div class="PetCards">
        @foreach (var note in Model)
        {
            <div class="petCard card" style="min-width: 20rem;">
                <div class="card-header">
                    <div>
                        <h2>@Html.DisplayFor(modelItem => note.Pet.Name)</h2>
                    </div>
                </div>


                <div class="PetInfoText">
                    <dl class="row">
                        <dd class="col-sm-12">

                            <div class="petInfoLines">

                                @if (note.UploadPath == null)
                                {
                                    <div>
                                        @Html.DisplayFor(modelItem => note.UploadPath)
                                    </div>
                                }
                                else
                                {
                                    <div>

                                        <a href="@Url.Action("Details", "Notes",  new { Id = note.NoteId })">
                                            <embed src="~/pdfs/@note.UploadPath" , style="width: 17em; height: auto;">
                                        </a>
                                    </div>
                                }
                            </div>

                            <div class="petInfoLines">
                                <p>Pet:</p> @Html.DisplayFor(modelItem => note.Pet.Name)
                            </div>
                            <div class="petInfoLines">
                                <p>Title:</p> @Html.DisplayFor(modelItem => note.Title)
                            </div>
                            <div class="petInfoLines">
                                <p>Description:</p> @Html.DisplayFor(modelItem => note.Description)
                            </div>
                            <div class="petInfoLines">
                                <p>Date Added:</p> @Html.DisplayFor(modelItem => note.DateAdded)
                            </div>
                        </dd>
                        <dd class="col-sm-12">
                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Details" asp-route-id="@note.NoteId">Details</a>
                            </div>
                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@note.NoteId">Edit</a>
                            </div>
                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@note.NoteId">Delete</a>
                            </div>
                        </dd>
                </div>
            </div>
        }
    </div>
</div>


