@model BluegrassPetCare.Models.PetViewModels.PetDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species.SpeciesType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed.BreedName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex.SexType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.IsSpayedOrNeutered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.IsSpayedOrNeutered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.CurrentMedications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.CurrentMedications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.OngoingProblems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.OngoingProblems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Notes)
        </dd>
    </dl>
</div>
<div class="col-md-6">
    <div class="col-md-10">
        <img style="max-height: 500px; max-width: 500px" src="~/images/@Model.Pet.ImagePath" alt="cool image" />
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pet.PetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
