@using Microsoft.AspNetCore.Identity
@model IEnumerable<BluegrassPetCare.Models.Pet>


@{
    ViewData["Title"] = "Index";
}

<h1>Bluegrass Pets</h1>

<p>
    <a asp-action="Create">Add a pet!</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            
            
        <tr>
            @if (item.ImagePath == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
            }
            else
            {
                <td>
                    
                    <a href="@Url.Action("Details", "Pet",  new { Id = item.PetId })">
                        <img src="~/images/@item.ImagePath" , style="width: 5em; height: auto;">
                    </a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed.BreedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PetId })
                @Html.ActionLink("Details", "Details", new { id = item.PetId })
                @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
            </td>

        </tr>
            
        }
    </tbody>
</table>
