@using Microsoft.AspNetCore.Identity
@model IEnumerable<BluegrassPetCare.Models.Pet>


@{
    ViewData["Title"] = "Index";
}

<div class="PetIndex">
    <div class="Index-Title">
        <h1>Pets</h1>
    </div>
    <div class="createPetBtn">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-action="Create">Add Pet</a>
        </p>
    </div>




    <div class="PetCards">
        @foreach (var pet in Model)
        {
            <div class="petCard card" style="min-width: 20rem;">
                <div class="card-header">
                    <div>
                        <h2>@Html.DisplayFor(modelItem => pet.Name)</h2>
                    </div>
                </div>


                <div class="PetInfoText">
                    <dl class="row">
                        <dd class="col-sm-12">

                            <div class="petInfoLines">

                                @if (pet.ImagePath == null)
                                {
                                    <div>
                                        @Html.DisplayFor(modelItem => pet.ImagePath)
                                    </div>
                                }
                                else
                                {
                                    <div>

                                        <a href="@Url.Action("Details", "Pet",  new { Id = pet.PetId })">
                                            <img src="~/images/@pet.ImagePath" , style="width: 7em; height: auto;">
                                        </a>
                                    </div>
                                }
                            </div>

                            <div class="petInfoLines">
                                <p>Pet Owner:</p> @Html.DisplayFor(modelItem => pet.User.FirstName)  @Html.DisplayFor(modelItem => pet.User.LastName)
                            </div>
                            <div class="petInfoLines">
                                <p>Species:</p> @Html.DisplayFor(modelItem => pet.Species.SpeciesType)
                            </div>
                            <div class="petInfoLines">
                                <p>Breed:</p> @Html.DisplayFor(modelItem => pet.Breed.BreedName)
                            </div>
                            <div class="petInfoLines">
                                <p>Sex:</p> @Html.DisplayFor(modelItem => pet.Sex.SexType)
                            </div>
                            <div class="petInfoLines">
                                <p>Color:</p> @Html.DisplayFor(modelItem => pet.Color)
                            </div>
                            <div class="petInfoLines">
                                <p>Birthday:</p> @Html.DisplayFor(modelItem => pet.Birthday)
                            </div>
                        </dd>
                        <dd class="col-sm-12">
                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Details" asp-route-id="@pet.PetId">Details</a>
                            </div>

                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Edit" asp-route-id="@pet.PetId">Edit</a>
                            </div>

                            <div class="petDetailsBtn">
                                <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@pet.PetId">Delete</a>
                            </div>
                        </dd>
                    </div>
                </div>
                }
    </div>
</div>


